<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" 
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            perform_query();
        });

        function perform_query() {
            let word = 'apple';
            let api_key = '28aeb0df-a3fa-4da1-b800-5060166fc6ab';
            let url = `https://www.dictionaryapi.com/api/v3/references/collegiate/json/${word}?key=${api_key}`;
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function(response) {
                    console.log(response);
                    let definitions = response[0].shortdef;
                    let temp_html = '';
                    for (let i = 0; i < definitions.length; i++) {
                        let def = definitions[i];
                        temp_html += `<li>${def}</li>`;
                    }
                    $('#definitions').append(temp_html);
                }
            });
        }
    
    </script>
</head>

<body>

</body>

</html>